<section{{ attributes.addClass('footer-sponsor') }}>
  <div class="footer-sponsor__content">
    <h5 class="footer-sponsor__title">
      {{ 'Co-financé par'|t }}<br>
      {{ "l'Union européenne"|t }}
    </h5>

    <div class="footer-sponsor__logo">
      {{ content.body }}
    </div>
  </div>
</section>