<div class="gov-topbar">
  <div class="container gov-topbar__inner">
    <a href="{{ portal_url }}" class="gov-topbar__link">{{ portal_label }}</a>
    <nav class="gov-topbar__languages" aria-label="Language switcher">
      <a href="/en" lang="en">EN</a>
      <a href="/nl" lang="nl">NL</a>
      <a href="/fr" lang="fr">FR</a>
    </nav>
  </div>
</div>
